# Data structure

1. What are data structures, and why are they important?
- data structures is way of organizing and storing data so that it can be accessed and manipulated effeciently. data structure importance Reusability, Optimize searching and sorting operations, Conserve memory usage, Efficiency.

2. Explain the difference between mutable and
immutable data types with examples.
- Mutable objects can be modified after their creation. You can change their content without changing their memory address.
Examples: List, Dict, Set.
Immutable objects cannot be modified after creation. Any operation that appears to modify an immutable object actually creates a new object with a different memory address.
Examples: Tuple, str, int.

3. What are the main differences between lists and tuples in Python?
- List are mutable slower and take more memory you need to modify, remove, add elements.
Tuple are immutable faster and take less memory you need to store fixed, read-only data for better performance.

4. Describe how dictionaries store data.
- Dictionaries are data structure that store data as a key value pair. keys are unique and immutable.

5. Why might you use a set instead of a list in Python?
- A set in Python is an unordered collection of unique elements, while a list is an ordered collection that allows duplicates

6. What is a string in Python, and how is it different from a list?
- Sting is a immutable sequence of characters. Represent and manipulate textual data You need string-specific methods (split(), replace(), etc.).List is a mutable sequence of elements You need list operations (append(), pop(), sort(), etc.).

7. How do tuples ensure data integrity in Python?
- A tuple in Python is an immutable sequence of elements, meaning once it is created, its contents cannot be modified, added, or removed. This immutability ensures data integrity by preventing accidental or intentional changes.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table (or hash map) is a data structure that stores key-value pairs using a hashing function to compute an index where values are stored. In Python, the dict (dictionary) is implemented using a hash table. It maps keys to values efficiently using hashing.

9. Can lists contain different data types in Python?
-  Yes! Python lists can store elements of different data types within the same list. Unlike some languages that enforce type consistency, Python lists are heterogeneous, meaning they can hold integers, floats, strings, booleans, objects, and even other lists or dictionaries.

10. Explain why strings are immutable in Python.
- A string in Python is immutable, because string is created, it cannot be changed. Any operation that appears to modify a string actually creates a new string instead of altering the original one.

11. What advantages do dictionaries offer over lists for certain tasks?
- Both lists and dictionaries are essential data structures in Python, but dictionaries offer key advantages in scenarios requiring fast lookups, flexible indexing, and efficient data retrieval.

12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13. How do sets handle duplicate values in Python?
- A set in Python is an unordered collection of unique elements. If you try to add duplicate values, the set will automatically remove them, ensuring that each element appears only once.

14. How does the “in” keyword work differently for lists and dictionaries?
- The in keyword is used to check membership in both lists and dictionaries. A list (in list) when checking for values in an ordered sequence. A dictionary (in dict) when checking if a key exists (faster lookup).

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary. It allows hierarchical data storage, making it useful for organizing complex data structures.
Example: An organizational chart can be represented as a nested dictionary where the keys are departments and the values are dictionaries of employees in each department.

17. Describe the time complexity of accessing elements in a dictionary.
- In Python, dictionaries use a hash table for storing key-value pairs, making access operations very fast on average.

18. In what situations are lists preferred over dictionaries?
- For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- The sequence of key-value pairs could change when new elements were added.
Iterating over a dictionary did not always return items in the order they were inserted.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In Python, the difference between data retrieval in a list and a dictionary is that lists use indices to access elements, while dictionaries use keys

Practical Questions

In [2]:
#1. Write a code to create a string with your name and print it.
name = "Monish"
print(name)

Monish

In [1]:
#2. Write a code to find the length of the string "Hello World".
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)  # Creating a tuple
print(numbers)

(100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("Minimum number:", min_number)

Minimum number: 5

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')  # Finds the index of "cat"
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [15]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")  # Creating a tuple with three fruits

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [16]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [17]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()  # Removes all elements from the set
print(my_set)

set()

In [18]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)  # Removes the element 4
print(my_set)

{1, 2, 3}

In [19]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)  # Finds the union of set1 and set2
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)  # Finds common elements
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Monish",
    "age": 23,
    "city": "Jalgaon"
}

print(person)

{'name': 'Monish', 'age': 23, 'city': 'Jalgaon'}

In [22]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}

# Adding a new key-value pair
person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}

# Accessing the value of "name"
name_value = person['name']
print("Name:", name_value)

Name: Alice

In [24]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age"
person.pop('age')

print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

# Checking if "city" key exists
if "city" in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [26]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Printing all data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [27]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(Replaced)
import random

# Generating a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [14, 17, 23, 88, 94]

In [28]:
#28. Write a code to create a list with strings and print the element at the third index.
# Creating a list with strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Accessing the element at index 3
third_index_element = words[3]

# Printing the element
print("Element at index 3:", third_index_element)

Element at index 3: date

In [29]:
#29. Write a code to combine two dictionaries into one and print the result.
# First dictionary
dict1 = {"name": "Alice", "age": 25}

# Second dictionary
dict2 = {"city": "New York", "country": "USA"}

# Merging dictionaries using the update() method
combined_dict = dict1.copy()  # Create a copy to avoid modifying dict1
combined_dict.update(dict2)  # Merge dict2 into dict1

# Printing the combined dictionary
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [30]:
#30. Write a code to convert a list of strings into a set.
# Creating a list of strings
words_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list into a set
words_set = set(words_list)

# Printing the set
print("Set of words:", words_set)

Set of words: {'cherry', 'apple', 'banana'}